
body {
  background-color: #FFF !important;
}

/* I'mnot sure where in Foundation the menu is set
so I'm applying th style to all child element of the footer */
header * {
  background-color: #50a2ff !important;
}

/* #50A2FF doesn't really suite an input background */
header input {
  background-color: white !important;
}

.remove-border-color {
  border-color: #fff !important;
}

.menu-text {
  color: #fff !important;
}

.nav-link {
  color: #e1e1e1;
}

.nav-link:hover {
  color: #fff;
}

.bg-dark {
  background-color: #343a40 !important;
}

.push-down-on-large {
  padding-top: 10px !important;
}

@media screen and (max-width: 40em) {

  .center-on-small {
    text-align: center !important */;
  }

  /* Reducing the margins on mobile because they dnt appear inline */
  .top-bar li {
    margin: 0px -5px !important;
  }

  .nav-link {
    color: #fff;
    background-color: inherit;
  }
}
